@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100vw;
  width: 100%;
  background-color: #000000;

  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.ant-list-item-meta-description {
  display: inline-block;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-form-item-label .ant-form-item-required {
  color: #fff;
  font-size: 20px;
}

.ant-spin-nested-loading .ant-row {
  margin: 0 auto;
}